/*Fonts*/
@font-face {
    font-family: spf;
    src: url(fonts/soopafre.ttf);
}

@font-face {
    font-family: Qargeo;
    src: url(fonts/Qargeo-Regular.otf);
}

/*Navigation*/

*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.705), rgba(4, 9, 30, 0.685)),url(images/WebBG.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: solid;
    font-size: 14px;
    font-family: spf;
    letter-spacing: 0.5px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8174A0;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}
.Heads{
    font-size: 60px;
    font-family: spf;
    color: #f0f0f0;
    letter-spacing: 5px;
}
.Subs{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #C0C4D8;
    font-family: Qargeo;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #8174A0;
    border: 1px solid #8174A0;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: spf;
    letter-spacing: 2px;
}
.hero-btn:hover{
    border: 1px solid #72639B;
    background: #72639B;
    color: #361637;
    transition: 1.5s;
}
/*----Gaming----*/
.gaming{
    margin: auto;
    text-align: center;
    padding: 8vh;
    background: #d5d8e7;
}

.Heads2{
    font-family: spf;
    font-size: 50px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    color: #000;
    text-shadow: 1px 3px  5px#8174A0;
    
}

.Subs2 {
    font-size: 25px;
    font-family: Qargeo;
    padding-bottom: 50px;
}


/*Gaming2*/

.ccourse{
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.ccourse p{
    font-size: 23px;
    color: #15111f;
}
.ccourse h3{
    font-size: 25px;
    color: #06040a;
}

.row{
    display: flex;
}

.course-col {
    background-image: linear-gradient(#8d82ac, #72639B);
    border-radius: 20px;
    padding: 18px;
    margin: 10px;
    transition: 0.5s;
}

.course-col:hover {
    box-shadow: 0px 0px 20px #181424;
}

/*Contact Us*/
.ContactUs {
    background-image: linear-gradient(#72639B, #574a7a);
    padding: 80px;
    margin: -8vh;
}
.Heads3 {
    color: #0d0914;
    font-size: 40px;
    padding: 10px;
    font-family: spf;
    letter-spacing: 5px;
}

.Subs3 {
    color: #1c162b;
    font-size: 30px;
    padding: 10px;
    font-family: Qargeo;
}